<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.security.oauth2.server.mapper.RoleAuthMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.rbac.RoleAuthModel">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', ''); <!--设置了这个之后自动绑定id这个值，就算你在model里设置了id，用的还是这里这个id-->
        </selectKey>
        insert role_auth(id, auth_id, role_id) values (#{id},#{authId},#{roleId});
    </insert>

    <select id="selectById" resultType="com.sybd.znld.model.rbac.RoleAuthModel">
        select * from role_auth where id = #{id};
    </select>
    <select id="selectByUserId" resultType="com.sybd.znld.model.rbac.RoleAuthModel">
        select * from role_auth where auth_id = #{authId};
    </select>
    <select id="selectByRoleId" resultType="com.sybd.znld.model.rbac.RoleAuthModel">
        select * from role_auth where role_id = #{roleId};
    </select>
    <select id="selectByRoleIdAndAuthId" resultType="com.sybd.znld.model.rbac.RoleAuthModel">
        select * from role_auth where role_id = #{roleId} and auth_id = #{authId};
    </select>
</mapper>