<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.service.mapper.v2.OAuthClientDetailsMapper">
    <select id="selectAll" resultType="com.sybd.znld.model.v2.oauth.OAuthClientDetailsModel">
        select * from oauth_client_details;
    </select>
    <select id="selectByClientId" parameterType="string" resultType="com.sybd.znld.model.v2.oauth.OAuthClientDetailsModel">
        select * from oauth_client_details where client_id=#{_parameter};
    </select>
    <insert id="insert" parameterType="com.sybd.znld.model.v2.oauth.OAuthClientDetailsModel">
        insert into oauth_client_details(client_id,
                                         resource_ids,
                                         client_secret,
                                         scope,
                                         authorized_grant_types,
                                         web_server_redirect_uri,
                                         authorities,
                                         access_token_validity,
                                         refresh_token_validity,
                                         additional_information,
                                         autoapprove)
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" clientId != null and clientId != '' ">#{clientId},</if>
            <if test=" resourceIds != null and resourceIds != '' ">#{resourceIds},</if>
            <if test=" clientSecret != null and clientSecret != '' ">#{clientSecret},</if>
            <if test=" scope != null and scope != '' ">#{scope},</if>
            <if test=" authorizedGrantTypes != null and authorizedGrantTypes != '' ">#{authorizedGrantTypes},</if>
            <if test=" webServerRedirectUri != null ">#{webServerRedirectUri},</if>
            <if test=" authorities != null and authorities != '' ">#{authorities},</if>
            <if test=" accessTokenValidity != null and accessTokenValidity > 0 ">#{accessTokenValidity},</if>
            <if test=" refreshTokenValidity != null and refreshTokenValidity > 0 ">#{refreshTokenValidity},</if>
            <if test=" additionalInformation != null ">#{additionalInformation},</if>
            <if test=" autoapprove != null ">#{autoapprove}</if>
        </trim>
    </insert>

    <update id="updateByClientId" parameterType="com.sybd.znld.model.v2.oauth.OAuthClientDetailsModel">
        update oauth_client_details
        <set>
            <if test=" resourceIds != null and resourceIds != '' ">resource_ids = #{resourceIds},</if>
            <if test=" clientSecret != null and clientSecret != '' ">client_secret = #{clientSecret},</if>
            <if test=" scope != null and scope != '' ">scope = #{scope},</if>
            <if test=" authorizedGrantTypes != null and authorizedGrantTypes != '' ">authorized_grant_types = #{authorizedGrantTypes},</if>
            <if test=" authorities != null and authorities != '' ">authorities = #{authorities},</if>
            <if test=" accessTokenValidity != null and accessTokenValidity > 0 ">access_token_validity = #{accessTokenValidity},</if>
            <if test=" refreshTokenValidity != null and refreshTokenValidity > 0 ">refresh_token_validity = #{refreshTokenValidity},</if>
            web_server_redirect_uri = #{webServerRedirectUri},
            additional_information = #{additionalInformation},
            autoapprove = #{autoapprove}
        </set>
        where client_id=#{clientId};
    </update>

    <delete id="deleteByClientId" parameterType="string">
        delete from oauth_client_details where client_id=#{_parameter}
    </delete>

</mapper>