<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.service.rbac.mapper.OrganizationMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.rbac.OrganizationModel">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', ''); <!--设置了这个之后自动绑定id这个值，就算你在model里设置了id，用的还是这里这个id-->
        </selectKey>
        insert organization(id, name, parent_id, position, status, oauth2_client_id)
        values
        (#{id},#{name},#{parentId},#{position},#{status},#{oauth2ClientId})
    </insert>
    <select id="selectByName" resultType="com.sybd.znld.model.rbac.OrganizationModel">
        select * from organization where name = #{_parameter}
    </select>
    <select id="selectById" resultType="com.sybd.znld.model.rbac.OrganizationModel">
        select * from organization where id = #{_parameter}
    </select>

    <update id="updateById" parameterType="com.sybd.znld.model.rbac.OrganizationModel">
        update organization
        <set>
            <if test=" name != null and name != '' ">name = #{name},</if>
            <if test=" parentId != null ">parent_id = #{parentId},</if>
            <if test=" position != null ">position = #{position},</if>
            <if test=" status != null ">status = #{status},</if>
            <if test=" oauth2ClientId != null and oauth2ClientId != '' ">oauth2_client_id = #{oauth2ClientId},</if>
        </set>
        where id = #{id}
    </update>

    <select id="selectByParentIdAndPosition" resultType="com.sybd.znld.model.rbac.OrganizationModel">
        select * from organization where parent_id = #{parentId} and position = #{position};
    </select>
    <update id="deleteById">
        update organization set status = #{status} where id=#{id};
    </update>
    <select id="selectByParentId" resultType="com.sybd.znld.model.rbac.OrganizationModel">
        select * from organization where parent_id = #{_parameter};
    </select>

    <select id="selectAuthPackByGroupId" resultType="com.sybd.znld.model.rbac.dto.AuthPackByGroup">
        select a.id as 'organId',
               a.name as 'organName',
               a.oauth2_client_id as 'oauth2ClientId',
               b.id as 'authGroupId',
               b.name as 'authGroupName',
               c.name as 'authName',
               c.uri as 'authValue'
        from organization as a
        left join authority_group as b on b.organization_id = a.id
        left join authority as c on c.authority_group_id = b.id
        where b.id = #{authGroupId};
    </select>
    <select id="selectAuthPackByGroupIdAuthValueAndName" resultType="com.sybd.znld.model.rbac.dto.AuthPackByGroup">
        select a.id as 'organId',
               a.name as 'organName',
               a.oauth2_client_id as 'oauth2ClientId',
               b.id as 'authGroupId',
               b.name as 'authGroupName',
               c.name as 'authName',
               c.uri as 'authValue'
        from organization as a
        left join authority_group as b on b.organization_id = a.id
        left join authority as c on c.authority_group_id = b.id
        where b.id = #{authGroupId} and c.uri = #{authValue} and c.name = #{authName};
    </select>
</mapper>