<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.lamp.CameraMapper">
    <select id="selectById" resultType="com.sybd.znld.model.lamp.CameraModel">
        select * from camera where id = #{_parameter};
    </select>
    <update id="updateById" parameterType="com.sybd.znld.model.lamp.CameraModel">
        update camera
        <set>
            <if test="rtspUrl != null">rtsp_url=#{rtspUrl},</if>
            <if test="rtmpUrl != null">rtmp_url=#{rtmpUrl},</if>
            <if test="recordAudio != null">record_audio=#{recordAudio},</if>
            <if test="organizationId != null">organization_id=#{organizationId}</if>
        </set>
        where id = #{id};
    </update>
</mapper>
