<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.lamp.DataLocationMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.onenet.DataPushModel">
        insert into data_location(id, device_id, imei, datastream_id, name, value, at)
        values (#{id},#{deviceId},#{imei},#{datastreamId},#{name},#{value},#{at})
    </insert>
    <select id="selectByDeviceIdAndResourceName" resultType="com.sybd.znld.model.onenet.DataPushModel">
        select * from data_location where name=#{name} and device_id=#{deviceId} limit 1
    </select>
    <update id="updateLocationByDeviceIdAndResourceName" parameterType="com.sybd.znld.model.onenet.DataPushModel">
        update data_location
        <set>
            <if test="value != null">value=#{value},</if>
            <if test="at != null">at=#{at}</if>
        </set>
        where device_id=#{deviceId} and name=#{name} and locked = false;
    </update>
    <update id="updateLockStatusByDeviceIdAndResourceName" parameterType="com.sybd.znld.model.onenet.DataPushModel">
        update data_location
        <set>
            <if test="locked != null">locked=#{locked},</if>
        </set>
        where device_id=#{deviceId} and name=#{name};
    </update>
</mapper>
