<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.lamp.DataEnvironmentMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.onenet.DataPushModel">
        insert into data_environment(id, device_id, imei, datastream_id, name, value, at)
        values (#{id},#{deviceId},#{imei},#{datastreamId},#{name},#{value},#{at})
    </insert>
</mapper>
