<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.lamp.ElectricityDispositionBoxRegionMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.lamp.ElectricityDispositionBoxRegionModel">
        insert into electricity_disposition_box_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id, electricity_disposition_box_id, region_id
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id}, #{electricityDispositionBoxId}, #{regionId}
        </trim>
    </insert>
    <select id="selectById" resultType="com.sybd.znld.model.lamp.ElectricityDispositionBoxRegionModel">
        select * from electricity_disposition_box_region where id = #{id};
    </select>
    <select id="selectByRegionId" resultType="com.sybd.znld.model.lamp.ElectricityDispositionBoxRegionModel">
        select * from electricity_disposition_box_region where region_id = #{id};
    </select>
    <select id="selectByBoxId" resultType="com.sybd.znld.model.lamp.ElectricityDispositionBoxRegionModel">
        select * from electricity_disposition_box_region where electricity_disposition_box_id = #{id};
    </select>
    <update id="update">
        update electricity_disposition_box_region
        set
        <trim suffixOverrides=",">
            <if test=" electricityDispositionBoxId != null and electricityDispositionBoxId != '' ">electricity_disposition_box_id=#{electricityDispositionBoxId},</if>
            <if test=" regionId != null and regionId != '' ">region_id=#{regionId},</if>
        </trim>
        where id=#{id};
    </update>
</mapper>
