<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.lamp.LampMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.lamp.LampModel">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', ''); <!--设置了这个之后自动绑定id这个值，就算你在model里设置了id，用的还是这里这个id-->
        </selectKey>
        insert into lamp(id, api_key, device_id, imei, device_name, longitude, latitude, status)
        values (#{id}, #{apiKey}, #{deviceId}, #{imei}, #{deviceName}, #{longitude}, #{latitude}, #{status});
    </insert>

    <select id="selectByDeviceId" resultType="com.sybd.znld.model.lamp.LampModel">
        select * from lamp where device_id=#{_parameter}
    </select>

    <select id="selectByDeviceName" resultType="com.sybd.znld.model.lamp.LampModel">
        select * from lamp where device_name=#{_parameter}
    </select>

    <select id="selectById" resultType="com.sybd.znld.model.lamp.LampModel">
        select * from lamp where id = #{_parameter};
    </select>

    <select id="selectByLatitude" resultType="com.sybd.znld.model.lamp.LampModel">
        select * from lamp where latitude = #{_parameter};
    </select>

    <select id="selectByLongitude" resultType="com.sybd.znld.model.lamp.LampModel">
        select * from lamp where longitude = #{_parameter};
    </select>

    <select id="selectLocationByDeviceId" resultType="com.sybd.znld.model.lamp.dto.Location">
        select MAX(IF(name = '北斗经度', value, 0)) AS 'longitude',
               MAX(IF(name = '北斗纬度', value, 0)) AS 'latitude'
        from data_location
        where device_id = #{deviceId}
        group by device_id;
    </select>

    <select id="selectAllDeviceIds" resultType="java.lang.Integer">
        select distinct device_id from lamp where status != 2;
    </select>

    <select id="selectApiKeyByDeviceId" resultType="java.lang.String">
        select distinct api_key from lamp where device_id=#{_parameter};
    </select>

    <select id="selectImeiByDeviceId" resultType="java.lang.String">
        select distinct imei from lamp where device_id=#{deviceId};
    </select>

    <select id="selectAllDeviceIdAndImei" resultType="com.sybd.znld.model.lamp.dto.DeviceIdAndImei">
        select distinct device_id, imei from lamp where status != 2;
    </select>

    <resultMap id="DeviceIdAndDeviceNames" type="com.sybd.znld.model.lamp.dto.DeviceIdAndDeviceName">
        <result column="deviceId" jdbcType="INTEGER" property="device_id"/>
        <result column="deviceName" jdbcType="VARCHAR" property="device_name"/>
    </resultMap>
    <select id="selectDeviceIdAndDeviceNames" resultType="com.sybd.znld.model.lamp.dto.DeviceIdAndDeviceName">
        with regionIds as (select id from region where organization_id = #{organId}),
             lampIds as (select lamp_id from lamp_region where region_id in (select * from regionIds))
        select distinct device_id, device_name, longitude, latitude, weight from lamp
        where id in (select * from lampIds) and status != 2
        order by weight;
    </select>

    <select id="selectCheckedResourceByDeviceId" resultType="com.sybd.znld.model.lamp.dto.CheckedResource">
        select concat(obj_id, '_', obj_inst_id, '_',res_id) as dataStreamId, description
        from lamp as a
        left join lamp_resource as b on a.id = b.lamp_id
        left join onenet_resource as c on c.id = b.onenet_resource_id
        where device_id = #{_parameter} and b.status != 2;
    </select>
    <select id="selectCheckedResourceByDeviceIdAndResourceDesc" resultType="com.sybd.znld.model.lamp.dto.CheckedResource">
        select concat(obj_id, '_', obj_inst_id, '_',res_id) as dataStreamId, description
        from lamp as a
        left join lamp_resource as b on a.id = b.lamp_id
        left join onenet_resource as c on c.id = b.onenet_resource_id
        where device_id = #{deviceId} and b.status != 2 and c.description = #{resourceDesc};
    </select>
    <select id="selectCheckedEnvResourceByDeviceId" resultType="com.sybd.znld.model.lamp.dto.CheckedResource">
        select concat(obj_id, '_', obj_inst_id, '_',res_id) as dataStreamId, description
        from lamp as a
        left join lamp_resource as b on a.id = b.lamp_id
        left join onenet_resource as c on c.id = b.onenet_resource_id
        where device_id = #{_parameter} and b.status = 0;
    </select>
    <select id="selectCheckedEnvResourceByDeviceIdAndResourceDesc" resultType="com.sybd.znld.model.lamp.dto.CheckedResource">
        select concat(obj_id, '_', obj_inst_id, '_',res_id) as dataStreamId, description
        from lamp as a
        left join lamp_resource as b on a.id = b.lamp_id
        left join onenet_resource as c on c.id = b.onenet_resource_id
        where device_id = #{deviceId} and b.status = 0 and c.description = #{resourceDesc};
    </select>

    <select id="selectLampByDeviceIdAndRegionType" resultType="com.sybd.znld.model.lamp.dto.LampAndRegion">
        select distinct a.device_name as DeviceName, c.name as RegionName, c.id as RegionId
        from lamp as a
        left join lamp_region as b on b.lamp_id = a.id
        left join region as c on c.id = b.region_id
        where a.device_id = #{deviceId} and c.type = #{regionType};
    </select>

    <select id="selectLampByLampIdAndRegionType" resultType="com.sybd.znld.model.lamp.dto.LampAndRegion">
        select distinct a.device_name as DeviceName, c.name as RegionName, c.id as RegionId
        from lamp as a
        left join lamp_region as b on b.lamp_id = a.id
        left join region as c on c.id = b.region_id
        where a.id = #{lampId} and c.type = #{regionType};
    </select>

    <select id="selectBoundResourceByDeviceId" resultType="com.sybd.znld.model.lamp.dto.BoundResource">
        select a.device_id as deviceId, a.device_name as deviceName, c.id as resourceId, c.description as resourceDesc, c.type as resourceType
        from lamp as a
        left join lamp_resource as b on b.lamp_id = a.id
        left join onenet_resource as c on c.id = b.onenet_resource_id
        where a.device_id = #{deviceId};
    </select>

    <select id="selectByRegionId" resultType="com.sybd.znld.model.lamp.LampModel">
        select b.* from lamp_region as a
        left join lamp as b on a.lamp_id = b.id
        where a.region_id = #{regionId};
    </select>

    <select id="selectByRegionIdPaged" resultType="com.sybd.znld.model.lamp.LampModel">
        select b.* from lamp_region as a
                            left join lamp as b on a.lamp_id = b.id
        where a.region_id = #{regionId} limit #{pageIndex}, #{pageSize};
    </select>

    <select id="selectCountOfLampByRegionId" resultType="java.lang.Integer">
        select count(id) from lamp_region where region_id = #{regionId};
    </select>

    <select id="selectByOrganId" resultType="com.sybd.znld.model.lamp.LampModel">
        select a.* from
        lamp as a
        left join lamp_region as b on b.lamp_id = a.id
        left join region as c on c.id = b.region_id
        where c.organization_id = #{organId}
        limit #{limit} offset #{offset}
    </select>

    <select id="selectActiveCameraByDeviceId" resultType="com.sybd.znld.model.lamp.dto.LampAndCamera">
        select device_id, device_name, c.id as cameraId, c.rtsp_url, c.rtmp, c.record_audio, c.flv_url
        from lamp as a
        left join lamp_camera as b on b.lamp_id = a.id
        left join camera as c on c.id = b.camera_id
        where a.device_id = #{deviceId} and a.status != 2 and c.status != 1;
    </select>

    <select id="selectActiveCameraByLampId" resultType="com.sybd.znld.model.lamp.dto.LampAndCamera">
        select device_id, device_name, c.id as cameraId, c.rtsp_url, c.rtmp, c.record_audio, c.flv_url
        from lamp as a
        left join lamp_camera as b on b.lamp_id = a.id
        left join camera as c on c.id = b.camera_id
        where a.id = #{lampId} and a.status != 2 and c.status != 1;
    </select>

    <select id="selectRegionByLampId" resultType="com.sybd.znld.model.lamp.RegionModel">
        select b.* from lamp_region as a
        left join region as b on b.id = a.region_id
        where a.lamp_id = #{lampId};
    </select>
</mapper>
