<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.lamp.OneNetResourceMapper">
    <select id="selectByOneNetKey" parameterType="com.sybd.znld.model.onenet.OneNetKey" resultType="com.sybd.znld.model.lamp.OneNetResourceModel">
        select * from onenet_resource where obj_id = #{objId} and obj_inst_id = #{objInstId} and res_id = #{resId};
    </select>
    <select id="selectById" resultType="com.sybd.znld.model.lamp.OneNetResourceModel">
        select * from onenet_resource where id = #{_paramter};
    </select>
    <select id="selectByIds" resultType="com.sybd.znld.model.lamp.OneNetResourceModel">
        select * from onenet_resource where id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">#{item}</foreach>;
    </select>
    <select id="selectByCommandValue" resultType="com.sybd.znld.model.lamp.OneNetResourceModel">
        select * from onenet_resource where value = #{_paramter};
    </select>
    <select id="selectByResourceType" resultType="com.sybd.znld.model.lamp.OneNetResourceModel">
        select * from onenet_resource where type = #{_parameter};
    </select>

    <select id="selectByResourceName" resultType="com.sybd.znld.model.lamp.OneNetResourceModel">
        select * from onenet_resource where description = #{_parameter};
    </select>

    <select id="selectByResourceNameAndType" resultType="com.sybd.znld.model.lamp.OneNetResourceModel">
        select * from onenet_resource where description = #{resourceName} and type = #{type};
    </select>

    <insert id="insert" parameterType="com.sybd.znld.model.lamp.OneNetResourceModel">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', ''); <!--设置了这个之后自动绑定id这个值，就算你在model里设置了id，用的还是这里这个id-->
        </selectKey>
        insert into onenet_resource(id, obj_id, obj_inst_id, res_id, value, description, timeout, type, status)
        values (#{id}, #{objId}, #{objInstId}, #{resId}, #{value}, #{description}, #{timeout}, #{type}, #{status});
    </insert>
</mapper>
