<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.lamp.RegionMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.lamp.RegionModel">
        insert region(id, name, status, organization_id) VALUES (#{id}, #{name}, #{status}, #{organizationId});
    </insert>

    <select id="selectByLampId" resultType="com.sybd.znld.model.lamp.RegionModel">
        select a.* from region as a
        left join lamp_region as b on b.region_id = a.id
        left join lamp as c on c.id = b.lamp_id
        where c.id = #{id}
    </select>

    <select id="selectById" resultType="com.sybd.znld.model.lamp.RegionModel">
        select * from region where id = #{_parameter};
    </select>
    <select id="selectByName" resultType="com.sybd.znld.model.lamp.RegionModel">
        select * from region where name = #{_parameter};
    </select>
    <select id="selectByRegionIdAndOrganId" resultType="com.sybd.znld.model.lamp.RegionModel">
        select * from region where id = #{regionId} and organization_id = #{organId}
    </select>
    <select id="selectAll" resultType="com.sybd.znld.model.lamp.RegionModel">
        select * from region;
    </select>
    <select id="selectOne" resultType="com.sybd.znld.model.lamp.RegionModel">
        select * from region limit 1;
    </select>
    <select id="select" resultType="com.sybd.znld.model.lamp.RegionModel">
        select * from region limit #{_parameter};
    </select>

    <update id="updateById" parameterType="com.sybd.znld.model.lamp.RegionModel">
        update region
        set name = #{name}, status = #{status}
        where id = #{id};
    </update>

    <select id="selectAllRegionWithValidLamp" resultType="com.sybd.znld.model.lamp.dto.RegionWithLocation">
        select distinct a.*, c.latitude, c.longitude
        from region as a
        left join lamp_region as b on b.region_id = a.id
        left join lamp as c on c.id = b.lamp_id
        where c.status = 0 and a.status = 0 and a.organization_id = #{organId};
    </select>

    <select id="selectByOrganId" resultType="com.sybd.znld.model.lamp.dto.Region">
        select id as regionId, name as regionName from region where organization_id = #{organId};
    </select>

    <!--<select id="selectLampsByRegionId" resultType="com.sybd.znld.model.lamp.dto.Lamp">
        select c.device_id as deviceId, c.device_name as deviceName
        from region as a
        left join lamp_region as b on b.region_id = a.id
        left join lamp as c on c.id = b.lamp_id
        where c.status = 0 and a.status = 0 and a.id = #{regionId};
    </select>-->

    <select id="selectLampsByRegionId" resultType="com.sybd.znld.model.lamp.LampModel">
        select c.* from region as a
        left join lamp_region as b on b.region_id = a.id
        left join lamp as c on c.id = b.lamp_id
        where a.id = #{regionId};
    </select>
    <select id="selectBoxesByRegionId" resultType="com.sybd.znld.model.lamp.ElectricityDispositionBoxModel">
        select c.* from region as a
        left join electricity_disposition_box_region as b on b.region_id = a.id
        left join electricity_disposition_box as c on c.id = b.electricity_disposition_box_id
        where a.id = #{id};
    </select>

    <select id="selectLampsWithLocationByRegionId" resultType="com.sybd.znld.model.lamp.dto.LampWithLocation">
        select c.device_id as deviceId, c.device_name as deviceName,
               MAX(IF(d.name = '北斗经度', value, 0)) AS 'longitude',
               MAX(IF(d.name = '北斗纬度', value, 0)) AS 'latitude'
        from region as a
                 left join lamp_region as b on b.region_id = a.id
                 left join lamp as c on c.id = b.lamp_id
                 left join data_location as d on d.device_id = c.device_id
        where c.status = 0 and a.status = 0 and a.id = #{regionId}
        group by c.device_id, c.device_name;
    </select>

    <select id="selectLampsOfEnvironment" resultType="com.sybd.znld.model.lamp.dto.Lamp">
        select c.device_id, c.device_name
        from region as a
        left join lamp_region as b on b.region_id = a.id
        left join lamp as c on c.id = b.lamp_id
        where a.organization_id = #{organId} and c.environment = true
    </select>

    <select id="selectLampsByOrganIdRegionIdNotStatus" resultType="com.sybd.znld.model.lamp.dto.Lamp">
        select c.device_id, c.device_name
        from region as a
        left join lamp_region as b on b.region_id = a.id
        left join lamp as c on c.id = b.lamp_id
        where a.organization_id = #{organId} and a.id = #{regionId} and c.status != #{status};
    </select>
    <select id="selectLampsByOrganIdRegionId" resultType="com.sybd.znld.model.lamp.LampModel">
        select c.* from region as a
        left join lamp_region as b on b.region_id = a.id
        left join lamp as c on c.id = b.lamp_id
        where a.organization_id = #{organId} and a.id = #{regionId};
    </select>

    <select id="selectBoxesByOrganIdRegionId" resultType="com.sybd.znld.model.lamp.ElectricityDispositionBoxModel">
        select c.* from region as a
        left join electricity_disposition_box_region as b on b.region_id = a.id
        left join electricity_disposition_box as c on c.id = b.electricity_disposition_box_id
        where a.organization_id = #{organId} and a.id = #{regionId};
    </select>

    <select id="selectAvgOfEnvironmentElementBetweenByDeviceId" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, max(at) as at from data_environment
        where device_id = #{deviceId} and at between #{begin} and #{end}
        group by name;
    </select>

    <select id="selectAvgOfEnvironmentElementLastDayByDeviceId" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, max(at) as at from data_environment
        where device_id = #{deviceId} and
              at between date_sub(date_format(now(),'%Y-%m-%d 00:00:00'), interval 1 day ) and date_format(now(),'%Y-%m-%d 00:00:00')
        group by name;
    </select>

    <select id="selectAvgOfEnvironmentElementLastDayLastHoursByDeviceId" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, max(at) as at from data_environment
        where device_id = #{deviceId} and
            at between date_sub(date_format(now(),'%Y-%m-%d 00:00:00'), interval #{hours} hour) and date_format(now(),'%Y-%m-%d 00:00:00')
        group by name;
    </select>

    <select id="selectAvgOfEnvironmentElementLastHoursWithBeginTimeByDeviceId" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, max(at) as at from data_environment
        where device_id = #{deviceId} and at between date_sub(#{begin}, interval #{hours} hour) and #{begin}
        group by name;
    </select>

    <select id="selectAvgOfEnvironmentElementLastHourByDeviceId" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, max(at) as at from data_environment
        where device_id = #{deviceId} and
            at between date_sub(date_format(now(),'%Y-%m-%d %H:00:00'), interval 1 hour) and date_format(now(),'%Y-%m-%d %H:00:00')
        group by name;
    </select>

    <select id="selectAvgOfEnvironmentElementLastHoursByDeviceId" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, max(at) as at from data_environment
        where device_id = #{deviceId} and
            at between date_sub(date_format(now(),'%Y-%m-%d %H:00:00'), interval #{hours} hour) and date_format(now(),'%Y-%m-%d %H:00:00')
        group by name;
    </select>

    <select id="selectAvgOfEnvironmentElementHourlyByDeviceId" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, date_format(at,'%Y-%m-%d %H:00:00') as at from data_environment
        where name = #{name} and device_id = #{deviceId} and date_format(at,'%Y-%m-%d') >= date_sub(date_format(now(),'%Y-%m-%d'), interval 1 day)
        group by date_format(at,'%Y-%m-%d %H:00:00')
        order by date_format(at,'%Y-%m-%d %H:00:00') desc limit 24;
    </select>
    <select id="selectAvgOfEnvironmentElementHourlyWithEndTimeByDeviceId" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, date_format(at,'%Y-%m-%d %H:00:00') as at from data_environment
        where name = #{name} and device_id = #{deviceId} and at <![CDATA[ >= ]]>  #{end}
        group by date_format(at,'%Y-%m-%d %H:00:00')
        order by date_format(at,'%Y-%m-%d %H:00:00') desc limit 24;
    </select>

    <select id="selectAvgOfEnvironmentElementDailyByDeviceId" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, date_format(at,'%Y-%m-%d 00:00:00') as at from data_environment
        where name = #{name} and device_id = #{deviceId} and at <![CDATA[ < ]]> date_format(now(),'%Y-%m-%d 00:00:00')
        group by date_format(at,'%Y-%m-%d 00:00:00')
        order by date_format(at,'%Y-%m-%d 00:00:00') desc limit 30;
    </select>

    <select id="selectAvgOfEnvironmentElementMonthlyByDeviceId" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, date_format(at,'%Y-%m-01 00:00:00') as at from data_environment
        where name = #{name} and device_id = #{deviceId} and date_format(at,'%Y-%m') >= date_sub(date_format(now(),'%Y-%m'), interval 1 year)
        group by date_format(at,'%Y-%m-01 00:00:00')
        order by date_format(at,'%Y-%m-01 00:00:00') desc limit 12;
    </select>

    <select id="selectAvgOfEnvironmentElementHourlyByDeviceIdBetween" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, date_format(at,'%Y-%m-%d %H:00:00') as at from data_environment
        where name = #{name} and device_id = #{deviceId} and at between #{begin} and #{end}
        group by date_format(at,'%Y-%m-%d %H:00:00')
        order by date_format(at,'%Y-%m-%d %H:00:00');
    </select>

    <select id="selectAvgOfEnvironmentElementDailyByDeviceIdBetween" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, date_format(at,'%Y-%m-%d 00:00:00') as at from data_environment
        where name = #{name} and device_id = #{deviceId} and at between #{begin} and #{end}
        group by date_format(at,'%Y-%m-%d 00:00:00')
        order by date_format(at,'%Y-%m-%d 00:00:00');
    </select>

    <select id="selectAvgOfEnvironmentElementMonthlyByDeviceIdBetween" resultType="com.sybd.znld.model.lamp.dto.ElementAvgResult">
        select name, round(avg(value), 2) as value, date_format(at,'%Y-%m-01 00:00:00') as at from data_environment
        where name = #{name} and device_id = #{deviceId} and at between #{begin} and #{end}
        group by date_format(at,'%Y-%m-01 00:00:00')
        order by date_format(at,'%Y-%m-01 00:00:00');
    </select>

    <select id="selectByRegionIdAndUserId" resultType="java.lang.Object">
        select 1 from region as a
        left join RBAC_V2.organization as b on a.organization_id = b.id
        left join RBAC_V2.user as c on c.organization_id = b.id
        where c.id = #{userId} and a.id = #{regionId};
    </select>
</mapper>