<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.lamp.StrategyMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.lamp.StrategyModel">
        insert into strategy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id, name, from_date, to_date, from_time, to_time, auto_generate_time, type, organization_id, user_id, status,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id}, #{name}, #{fromDate}, #{toDate}, #{fromTime}, #{toTime}, #{autoGenerateTime}, #{type}, #{organizationId}, #{userId}, #{status}
        </trim>
    </insert>
    <select id="selectById" resultType="com.sybd.znld.model.lamp.StrategyModel">
        select * from strategy where id = #{id};
    </select>
    <select id="selectByName" resultType="com.sybd.znld.model.lamp.StrategyModel">
        select * from strategy where name = #{name};
    </select>
    <select id="selectByOrganId" resultType="com.sybd.znld.model.lamp.StrategyModel">
        select * from strategy where organization_id = #{id}
    </select>
    <select id="selectByOrganIdType" resultType="com.sybd.znld.model.lamp.StrategyModel">
        select * from strategy where organization_id = #{id} and type=#{type}
    </select>
    <select id="selectByOrganIdTypeStatus" resultType="com.sybd.znld.model.lamp.StrategyModel">
        select * from strategy where organization_id = #{id} and type=#{type} and status = #{status}
    </select>
    <select id="selectByOrganIdTypeStatusBetween" resultType="com.sybd.znld.model.lamp.StrategyModel">
        select * from strategy
        where organization_id = #{id} and type=#{type} and status = #{status} and from_date >= #{begin} and to_date <![CDATA[ <= ]]> #{end}
    </select>
    <select id="selectByOrganIdTypeNotStatus" resultType="com.sybd.znld.model.lamp.StrategyModel">
        select * from strategy where organization_id = #{id} and type=#{type} and status != #{status}
    </select>
    <update id="update">
        update strategy
        set
        <trim suffixOverrides=",">
            <if test=" name != null and name != '' ">name=#{name},</if>
            <if test=" fromDate != null ">from_date=#{fromDate},</if>
            <if test=" toDate != null ">to_date=#{toDate},</if>
            <if test=" fromTime != null ">from_time=#{fromTime},</if>
            <if test=" toTime != null ">to_time=#{toTime},</if>
            <if test=" autoGenerateTime != null ">auto_generate_time=#{autoGenerateTime},</if>
            <if test=" type != null ">type=#{type},</if>
            <if test=" organizationId != null and organizationId != '' ">organization_id=#{organizationId},</if>
            <if test=" userId != null and userId != '' ">user_id=#{userId},</if>
            <if test=" status != null ">status=#{status},</if>
        </trim>
        where id=#{id};
    </update>
</mapper>
