<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.rbac.AuthorityMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.rbac.AuthorityModel">
        insert authority(id, name, organization_id, status)
        values (#{id}, #{name}, #{organizationId}, #{status})
    </insert>

    <update id="update" parameterType="com.sybd.znld.model.rbac.AuthorityModel">
        update authority
        <set>
            <if test=" name != null and name != '' ">name = #{name},</if>
            <if test=" organizationId != null and organizationId != '' ">organization_id = #{organizationId},</if>
            <if test=" status != null">status = #{status}</if>
        </set>
        where id = #{id};
    </update>

    <select id="selectById" resultType="com.sybd.znld.model.rbac.AuthorityModel">
        select * from authority where id = #{id};
    </select>
    <select id="selectByOrganIdAndAuthName" resultType="com.sybd.znld.model.rbac.AuthorityModel">
        select * from authority where organization_id = #{organId} and name = #{authName};
    </select>
</mapper>