<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.rbac.AuthorityGroupMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.rbac.AuthorityGroupModel">
        insert authority_group(id, name, status, organization_id)
        values (#{id}, #{name}, #{status}, #{organizationId})
    </insert>
    <select id="selectById" resultType="com.sybd.znld.model.rbac.AuthorityGroupModel">
        select * from authority_group where id = #{id};
    </select>
    <select id="selectByName" resultType="com.sybd.znld.model.rbac.AuthorityGroupModel">
        select * from authority_group where name = #{name};
    </select>
    <select id="selectByOrganIdAndAuthGroupName" resultType="com.sybd.znld.model.rbac.AuthorityGroupModel">
        select * from authority_group where organization_id=#{organId} and name = #{authGroupName}
    </select>
</mapper>