<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.rbac.OperationMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.rbac.OperationModel">
        insert into operation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id, name, path, resource, organization_id, app,
            <if test="type != null">type,</if>
            <if test="status != null">status,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id}, #{name}, #{path}, #{resource}, #{organization_id}, #{app},
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <select id="selectById" resultType="com.sybd.znld.model.rbac.OperationModel">
        select * from operation where id = #{id};
    </select>
    
    <select id="selectByOrganIdAnaName" resultType="com.sybd.znld.model.rbac.OperationModel">
        select * from operation where name=#{name} and organization_id=#{organId}
    </select>
</mapper>