<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.rbac.OrganizationMapper">
    <insert id="insert" parameterType="com.sybd.znld.model.rbac.OrganizationModel">
        insert organization(id, name, status, oauth2_client_id)
        values
        (#{id}, #{name}, #{status}, #{oauth2ClientId})
    </insert>
    <select id="selectByName" resultType="com.sybd.znld.model.rbac.OrganizationModel">
        select * from organization where name = #{_parameter}
    </select>
    <select id="selectById" resultType="com.sybd.znld.model.rbac.OrganizationModel">
        select * from organization where id = #{_parameter}
    </select>

    <update id="updateById" parameterType="com.sybd.znld.model.rbac.OrganizationModel">
        update organization
        <set>
            <if test=" name != null and name != '' ">name = #{name},</if>
            <if test=" status != null ">status = #{status},</if>
            <if test=" oauth2ClientId != null and oauth2ClientId != '' ">oauth2_client_id = #{oauth2ClientId},</if>
        </set>
        where id = #{id}
    </update>

    <update id="deleteById">
        update organization set status = 1 where id=#{id};
    </update>

    <select id="selectAuthPackByGroupId" resultType="com.sybd.znld.model.rbac.dto.AuthPackByGroup">
        select a.id as 'organId',
               a.name as 'organName',
               a.oauth2_client_id as 'oauth2ClientId',
               b.id as 'authGroupId',
               b.name as 'authGroupName',
               c.name as 'authName',
               c.uri as 'authValue'
        from organization as a
        left join authority_group as b on b.organization_id = a.id
        left join authority as c on c.authority_group_id = b.id
        where b.id = #{authGroupId};
    </select>
    <select id="selectAuthPackByGroupIdAuthValueAndName" resultType="com.sybd.znld.model.rbac.dto.AuthPackByGroup">
        select a.id as 'organId',
               a.name as 'organName',
               a.oauth2_client_id as 'oauth2ClientId',
               b.id as 'authGroupId',
               b.name as 'authGroupName',
               c.name as 'authName',
               c.uri as 'authValue'
        from organization as a
        left join authority_group as b on b.organization_id = a.id
        left join authority as c on c.authority_group_id = b.id
        where b.id = #{authGroupId} and c.uri = #{authValue} and c.name = #{authName};
    </select>

    <select id="selectAllCityAndCode" resultType="com.sybd.znld.model.rbac.dto.CityAndCode">
        select name as city, id as code from organization;
    </select>
</mapper>