<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.OAuthClientDetailsMapper">
    <select id="getClientDetails" resultType="com.sybd.znld.model.v2.oauth.OAuthClientDetailsModel">
        select * from oauth_client_details;
    </select>
    <select id="getClientDetailsByClientId" parameterType="string" resultType="com.sybd.znld.model.v2.oauth.OAuthClientDetailsModel">
        select * from oauth_client_details where client_id=#{_parameter};
    </select>
</mapper>