<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sybd.znld.mapper.VideoConfigMapper">
    <select id="getConfigByCameraId" resultType="com.sybd.znld.model.VideoConfigEntity">
        select * from video_config where cameraId=#{_parameter};
    </select>
    <update id="setConfigByCameraId" parameterType="com.sybd.znld.model.VideoConfigEntity">
        update video_config
        <set>
            <if test="rtspUrl != null">rtspUrl=#{rtspUrl},</if>
            <if test="rtmpUrl != null">rtmpUrl=#{rtmpUrl},</if>
            <if test="recordAudio != null">recordAudio=#{recordAudio},</if>
            <if test="clientId != null">clientId=#{clientId}</if>
        </set>
        where cameraId=${cameraId};
    </update>
</mapper>
